body {
  font-family: "Montserrat";
}

#title {
  background-color: gray;
  color: white;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-size: 2.9rem;
  font-weight: bold;
  line-height: 1.5;
}

h3 {
  font-weight: bold;
}

p {
  color: #8f8f8f
}

/* NAV BAR */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* TITLE IMAGE */
.title-image {
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 10%;
}

/* TEKST ISPOD */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}

.feature-title {
  padding-bottom: 15px;
  padding-top: 5px;
}

/* ICONS */
.icon {
  margin-bottom: 1rem;
  color: #BLACK;
}

.icon:hover {
  color: #BCBCBC;
}

/* TESTEMONIALS */
#testimonials {
  text-align: center;
  background-color: #454545;
  color: white;
}

.carousel-item {
  padding: 7% 15%;
}

.slika {
  margin: 20px;
  border-radius: 100%;
  width: 10%;
}

#press {
  background-color: #454545;
  text-align: center;
  padding-bottom: 3%;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

/* PRICING */

#pricing {
  padding: 120px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

.button-space {
  padding-top: 48px;
}

@media (max-width: 1000px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0deg);
    width: 100%
  }
}

@media (width-max: 1105px) {
  .razmak2 {
    padding: 0;
  }
}

@media (width-min: 1097) {
  .razmak {
    padding: 0;
  }
}

#cta {
  background-color: GRAY;
  text-align: center;
  color: white;
  padding: 3% 0 10%;
}

.end-letter {
  font-size: 3rem;
  padding: 40px 20%;
}

.end-button {
  margin: 0 20px;
}

#footer {
  padding: 8% 20%;
  text-align: center;
}

.odmak {
  margin: 0 15px;
}

.ikone {
  padding-bottom: 20px;
}
